$sprite: url('./assets/imgs/sprite/icons.webp');

.arrow-right-icon {
  width: 10px; height: 14px;
  background: $sprite -158px -29px;
}

.location-icon {
  width: 16px; height: 16px;
  background: $sprite -51px -89px;
}

.plus-icon {
  width: 16px; height: 16px;
  background: $sprite -77px -89px;
}

.send-arrow-icon {
  width: 16px; height: 14px;
  background: $sprite -132px -31px;
}

.agree-icon {
  width: 10px; height: 8px;
  background: $sprite -158px -53px;
}

.error-icon {
  width: 14px; height: 14px;
  background: $sprite -102px -65px;
}

.loupe-icon {
  width: 14px; height: 14px;
  background: $sprite -5px -122px;
}

.chat-icon {
  width: 16px; height: 16px;
  background: $sprite -103px -89px;
}

.instagram-icon {
  width: 21px; height: 21px;
  background: $sprite -40px -57px;
}

.popularity-icon {
  width: 14px; height: 20px;
  background: $sprite -27px -89px;
}

.arrow-down-icon {
  width: 14px; height: 16px;
  background: $sprite -132px -55px;
}

.universiry-icon {
  width: 14px; height: 14px;
  background: $sprite -29px -122px;
}

.present-icon {
  width: 15px; height: 14px;
  background: $sprite -132px -81px;
}

.price-down-icon {
  width: 20px; height: 20px;
  background: $sprite -71px -57px;
}

.phone-icon {
  width: 20px; height: 20px;
  background: $sprite -102px -5px;
}

.telegram-icon {
  width: 25px; height: 22px;
  background: $sprite -5px -57px;
}

.time-icon {
  width: 16px; height: 16px;
  background: $sprite -132px -5px;
}

.book-icon {
  width: 14px; height: 12px;
  background: $sprite -101px -122px;
}

.home-icon {
  width: 14px; height: 14px;
  background: $sprite -53px -122px;
}

.flag-icon {
  width: 12px; height: 14px;
  background: $sprite -158px -5px;
}

.price-up-icon {
  width: 20px; height: 20px;
  background: $sprite -102px -35px;
}

.calendar-icon {
  width: 14px; height: 14px;
  background: $sprite -77px -122px;
}

.facebook-icon {
  width: 12px; height: 23px;
  background: $sprite -5px -89px;
}

.close-burger-icon {
  width: 40px; height: 42px;
  background: $sprite -5px -5px;
}

.burger-icon {
  width: 37px; height: 37px;
  background: $sprite -55px -5px;
}